[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "components/QR-Code-generator"]
	path = components/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "components/qr_code_generator/QR-Code-generator"]
	path = components/qr_code_generator/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
